<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Friendly name:</b>
  <%= @link.friendly_name %>
</p>

<p>
  <b>Category:</b>
  <%= @link.category %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
